/* top-bar */
.top-bar {
  border-bottom: 1px solid #ccc;
  box-shadow: 1px 1px 10px 1px rgb(187, 184, 184);
}
aside {
  padding: 20px;
  border-right: 1px solid #cbc9c9;
  width: fit-content;
  min-height: 100vh;
}
.item-link {
  display: flex;
  color: black;
  font-size: 30px;
  transition: background-color 0.3s;
  padding: 0px 10px;
  border-radius: 10px;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.item-link:hover,
.item-link.active {
  background-color: #ccc;
}
a {
  text-decoration: none;
}
@media (max-width: 991px) {
  .item-link svg {
    margin-right: 0;
  }
  .item-link {
    padding: 10px;
    justify-content: start;
    width: 60px;
  }
  .item-link span {
    display: none;
  }
  aside {
    width: fit-content !important;
  }
  .item-link span {
    display: none;
  }
}
